<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatrBox</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ChatrBox.styles.css" asp-append-version="true" />
    <script>
        var messageUpdateRate = @ChatrBox.CoreComponents.ConfigManager.MessageUpdateRate;
        var statusUpdateRate = @ChatrBox.CoreComponents.ConfigManager.StatusUpdateRate;
    </script>
    @RenderSection("CSS", required: false)
    @RenderSection("JS_GlobalVariables", required: false)
</head>
<body>
    <main class="window row">
        <nav class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark pane">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <!--Menu options for all users-->
                <h5>Welcome, @(User.Identity == null ? "ERROR!" : User.Identity.Name)</h5>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Communities" asp-action="Index">My Communities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Chat'r Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Return to Chat'r Box</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="logoutLink" class="nav-link">Logout</a>
                        <form id="logout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        </form>
                    </li>
                </ul>
                <!--Menu options for Moderators-->
                @if (User.IsInRole("moderator"))
                {
                    <hr />
                    <h5>Moderation</h5>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Communities" asp-action="IndexAll">All Communities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Moderation Requests</a>
                        </li>
                    </ul>
                }

                <!--Menu options for Site Admins (admin)-->
                @if (User.IsInRole("admin"))
                {
                    <hr />
                    <h5>Site Settings</h5>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a asp-action="ClientSettings" asp-controller="Admin" class="nav-link">Client Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Moderators</a>
                        </li>
                    </ul>
                }

                <!--Menu options for System Admins (superAdmin)-->
                @if (User.IsInRole("superAdmin"))
                {
                    <hr />
                    <h5>System Settings</h5>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link">Admins</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
        <div class="col-md-9 pane">
            @RenderBody()
        </div>
    </main>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#logoutLink").on("click", function () {
            $("#logout").trigger("submit");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
