@using ChatrBox.Areas.Config.Models
@model CommunityUsersViewModel

<h1>
    
</h1>
<p>
    <a asp-action="Create">Add User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Icon
            </th>
            <th>
                Username
            </th>
            <th>
                Post Permission
            </th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
@if (Model.GetUserGroup(CommunityUserGroup.Owner).Any())
{
    <tr>
        <td colspan="4" class="fs-5 fw-bold bg-primary text-light">Community Owner</td>
    </tr>
    @foreach (var item in Model.GetUserGroup(CommunityUserGroup.Owner)) 
    {
        <tr>
            <td>
                <img src="@item.Chatr.ImageUrl" style="width:50px; height:50px" />
            </td>
            <td>
                @item.Chatr.UserName
            </td>
            <td>
                @(item.CanPost ? "yes" : "no")
            </td>
            <td>

            </td>
        </tr>
    }

    if (Model.GetUserGroup(CommunityUserGroup.Moderator).Any())
    {
        <tr>
            <td colspan="4" class="fs-5 fw-bold bg-primary text-light">Community Moderators</td>
        </tr>
        @foreach (var item in Model.GetUserGroup(CommunityUserGroup.Moderator)) 
        {
            <tr>
                <td>
                    <img src="@item.Chatr.ImageUrl" style="width:50px; height:50px" />
                </td>
                <td>
                    @item.Chatr.UserName
                </td>
                <td>
                    @(item.CanPost ? "yes" : "no")
                </td>
                <td>

                </td>
            </tr>
        }
    }

    if (Model.GetUserGroup(CommunityUserGroup.User).Any())
    {
        <tr>
            <td colspan="4" class="fs-5 fw-bold bg-primary text-light">Community Users</td>
        </tr>
        @foreach (var item in Model.GetUserGroup(CommunityUserGroup.User)) 
        {
            <tr>
                <td>
                    <img src="@item.Chatr.ImageUrl" style="width:50px; height:50px" />
                </td>
                <td>
                    @item.Chatr.UserName
                </td>
                <td>
                    @(item.CanPost ? "yes" : "no")
                </td>
                <td>

                </td>
            </tr>
        }
    }
}
else
{
    <tr>
        <td colspan="3" class="fs-3 fw-bold bg-primary text-light">Error Loading Community Users!</td>
    </tr>
}
    </tbody>
</table>
