@model IEnumerable<ChatrBox.Data.Message>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1> 


<div class="container">
    <!--Search Box-->
    <form method="get" id="plsClap" asp-controller="messages" asp-action="index" asp-route-topicId="@ViewData["topicId"]">
        <div class="input-group mb-3">
            <input type="text" id="search" class="form-control" placeholder="Search here" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Time Sent
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessagePlain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
            </th>                @Html.DisplayNameFor(model => model.IsEdited)

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Timestamp.ToLocalTime()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessagePlain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEdited)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $('#plsClap').on("submit", function (event) 
        {
            event.preventDefault();
            var searchString = "searchString=" + $('#search').val() + "&topicId=@(ViewBag.topicId)";
            var URL = "@Url.Action("Index","Messages")" + "?" + searchString;

            window.location.replace(URL);
        });
    </script>
}