@using ChatrBox.Areas.Config.Models
@model CommunityIndexViewModel

@{
    var username = User.Identity != null ? $"{User.Identity.Name}'s" : "";
    var userCommunities = ViewData["ModView"] == null;

    var myCommunities = Model.GetCommunity("user");
    var allCommunities = Model.GetCommunity("all");
    var joinedCommunities = Model.GetCommunity("joined");
    var modCommunities = Model.GetCommunity("mod");

    ViewData["Title"] = userCommunities ? username : "All" + " Communities";
}

<h1>My Communities</h1>
<h3>Here you will find any communities you manage</h3>
<p>
    <a asp-action="Create">Create New Community</a>
</p>
@if (myCommunities.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Icon
                </th>
                <th>
                    Name
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Visibility
                </th>
                <th>
                    ContentFilter
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in myCommunities)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" style="width:50px; height:50px" />
                    </td>
                    <td>
                        <div class="">
                            @Html.DisplayFor(modelItem => item.Name)
                            <i class="tooltip-arrow"></i>
                            <span class="tooltip tooltip-inner">@Html.DisplayFor(modelItem => item.Description)</span>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visibility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentFilter)
                    </td>
                    <td>
                        <a href="" class="community-link" data-communityName="@item.Name" data-communityId="@item.Id">Copy Link</a> |
                        <a asp-action="Index" asp-controller="CommunityUsers" asp-route-communityId="@item.Id">Users</a> | 
                        <a asp-action="Index" asp-controller="Topics" asp-route-communityId="@item.Id">View Topics</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (allCommunities.Any())
{
    <h1>All Communities</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Icon
                </th>
                <th>
                    Name
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Visibility
                </th>
                <th>
                    ContentFilter
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in allCommunities)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" style="width:50px; height:50px" />
                    </td>
                    <td>
                        <div class="">
                            @Html.DisplayFor(modelItem => item.Name)
                            <i class="tooltip-arrow"></i>
                            <span class="tooltip tooltip-inner">@Html.DisplayFor(modelItem => item.Description)</span>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visibility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentFilter)
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="Topics" asp-route-communityId="@item.Id">View Topics</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (joinedCommunities.Any())
{
    <h1>Joined Communities</h1>
    <h3>Here you will find any communities you have joined</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Icon
                </th>
                <th>
                    Name
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Visibility
                </th>
                <th>
                    ContentFilter
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in joinedCommunities)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" style="width:50px; height:50px" />
                    </td>
                    <td>
                        <div class="">
                            @Html.DisplayFor(modelItem => item.Name)
                            <i class="tooltip-arrow"></i>
                            <span class="tooltip tooltip-inner">@Html.DisplayFor(modelItem => item.Description)</span>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visibility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentFilter)
                    </td>
                    <td>
                        <a href="" class="peace-out-link" data-communityId="@item.Id">leave</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (modCommunities.Any())
{
    <h1>Moderated Communities</h1>
    <h3>Here you will find any communities you are allowed to moderate</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Icon
                </th>
                <th>
                    Name
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Visibility
                </th>
                <th>
                    ContentFilter
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in modCommunities)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" style="width:50px; height:50px" />
                    </td>
                    <td>
                        <div class="">
                            @Html.DisplayFor(modelItem => item.Name)
                            <i class="tooltip-arrow"></i>
                            <span class="tooltip tooltip-inner">@Html.DisplayFor(modelItem => item.Description)</span>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visibility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentFilter)
                    </td>
                    <td>

                        <a href="" class="peace-out-link" data-communityId="@item.Id">leave</a> | 
                        <a asp-action="Index" asp-controller="CommunityUsers" asp-route-communityId="@item.Id">Users</a> | 
                        <a asp-action="Index" asp-controller="Topics" asp-route-communityId="@item.Id">View Topics</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<form asp-action="LeaveCommunity" id="peace-out-form" method="post" hidden>
    <input id="peace-out-target" name="communityId" type="text" />
</form>

@section Scripts {
    <script>
        $(".community-link").on("click", function (event) {
            event.preventDefault();
            var communityId = event.target.attributes['data-communityId'].value;
            var communityName = event.target.attributes['data-communityName'].value;
            var shareLink = `${window.location.origin}/Share/CommunityTopic/${communityId}/public`;
            navigator.clipboard.writeText(shareLink);
            window.alert(`${communityName} link coppied to clipboard!`);
        });
        $('.peace-out-link').on("click", function (event) {
            event.preventDefault();
            console.log("clicked peace out");
            var communityId = event.target.attributes['data-communityId'].value;
            $('#peace-out-target').val(communityId);
            $('#peace-out-form').trigger("submit");
        });
    </script>
}




